.register-section {
	min-height: 750px;
	max-width: 75%;
	margin: auto;
	margin-top: 15%;
	text-align: center;
	@media (min-width: 600px) {
		min-height: 1000px;
	}
}

.password-strength-meter {
	position: relative;
	margin: 0 auto;
	width: 80%;
	height: 1.5rem;
	background: rgba(226, 226, 226, 0.733);
	border: 0.5px solid #6b1d97;
	margin-top: 0.8rem;
	border-radius: 10px;
	@media (min-width: 500px) {
		width: 30%;
	}

	&::before {
		color: white;
		content: "";
		position: absolute;
		left: 0;
		height: 100%;
		width: 10%;
		border-radius: 10px;
		background-color: #b852f4;
		// background-color: #f7931e;
	}
}
